@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>@ViewData["Title"]</h2>
    <a href="@Url.Action("CreateSeller", "Admin")" class="btn btn-primary mb-3">Create Seller</a>
    </div>
<br />
<div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Programs</h3>
    <a href="@Url.Action("CreateProgram", "Admin")" class="btn btn-success">Create New Program</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Program Name</th>
            <th>Benefits</th>
            <th>Charge</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var program in Model)
        {
            <tr>
                <td>@program.ProgramName</td>
                <td>@program.Benefits</td>
                <td>@program.Charge</td>
                <td>
                    <a href="@Url.Action("EditProgram", "Admin", new { programName = program.ProgramName })" class="btn btn-warning btn-sm">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
